# Copy this file to .env and fill in your actual values
# Kabhi bhi real .env file GitHub par push mat karo

# Supabase Configuration
VITE_SUPABASE_URL=https://rfgjjzegreexkgfpshvy.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmZ2pqemVncmVleGtnZnBzaHZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5ODMxNzUsImV4cCI6MjA5ODU1OTE3NX0.xwTNpvF7-5COVWfzJxuIDoGAqsASACDZe_sv-wGa2WI